apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2023-05-31T13:44:16Z"
  labels:
    app: debianDev-pod
  name: debianDev-pod
spec:
  containers:
  - command:
    - /bin/bash
    image: localhost/debiandevnestjsimg:latest
    name: container
    stdin: true
    tty: true
    ports:
      - containerPort: 3000
        hostPort: 8080
    volumeMounts:
    - mountPath: /usr/src/app
      name: debianVolume
  volumes:
  - hostPath:
      path: /mnt/c/Users/.../nest-react-mongo/nestjsback
      type: Directory
    name: debianVolume