apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2023-05-31T13:44:16Z"
  labels:
    app: nest-react-mongo-pod
  name: nest-react-mongo-pod
spec:
  containers:
  - name: nestbackend
    command:
    - /bin/bash
    image: localhost/fedoradevnestjsimg:latest
    stdin: true
    tty: true
    ports:
      - containerPort: 3000
        hostPort: 8080
    volumeMounts:
    - mountPath: /usr/src/app
      name: fedoraVolume
  - name: mongoDB
    image: mongo
    ports: 
      - containerPort: 27017
        hostPort: 27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME: root
      - MONGO_INITDB_ROOT_PASSWORD: <yourPassword>
    volumeMounts:
    - mountPath: /data/db
      name: mongoDbVolume
  volumes:
  - name: fedoraVolume
    hostPath:
      path: /mnt/c/Users/.../nest-react-mongo/nestjsback
      type: Directory
  - name: mongoDbVolume
    persistentVolumeClaim:
        claimName: nest-react-mongodb_-_db-volume